<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome! |Rock Paper Scissor</title>
    <link rel="stylesheet" href="css/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body class="bg-dark">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top ">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">LOGO</a>

            <!-- Toggle button -->
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse font-opensans" id="mainNav">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_list">USERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT ME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Q&A</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!--Right Navbar-->
            <ul class="navbar-nav ms-auto font-opensans">
                <li class="nav-item"><a href="/login" class="nav-link"">Login</a></li>
                <li class=" nav-item"><a href="/register" class="nav-link"">Sign Up</a></li>
            </ul>
            <!--Right Navbar-->

        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <!--Page 1-->
    <div class=" jumbotron jumbo-1">
                            <span class="text-inside">
                                <h1 class="display-6"> PLAY TRADITIONAL GAME</h1>
                                <br><br>
                                <p class="lead">Experience new traditional game play</p>
                                <a href="/game">
                                    <button class="btn btn-warning btn-lg first-carousel" style="font-weight: 600;">PLAY
                                        NOW</button>
                                </a>
                            </span>
        </div>
        <!--Page 1-->

        <!--Page 2-->
        <div class="jumbotron jumbo-2">
            <div class="text-inside-2">
                <p class="">What's so special?</p>
                <h2 class="display-5">THE GAMES
                    <img src="assets/assets-CH3/rockpaperstrategy-1600.jpg" class="img-inside" alt="">
                </h2>
                <!-- <img src="assets/switch.png" alt="" class="switch-left">
            <img src="assets/switch (1).png" alt="" class="switch-right"> -->
            </div>
        </div>
        <!--Page 2-->

        <!--Page 3-->
        <div class="jumbotron jumbo-3">
            <div class="text-inside-3">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <h3>What's so special?</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <h1>FEATURES</h1>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <ul class="active-list">
                            <li>TRADITIONAL GAMES</li>
                        </ul>
                    </div>
                </div>
                <!-- <img src="assets/progress-bar.png" class="bar-progress" alt=""> -->

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <ul class="content-list">
                            <p><br> If you miss your childhood, we provide many traditional games here</p>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <ul class="another-list">
                            <li>GAME SUIT</li><br>
                            <li>TBD</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!--Page 3-->

        <!--Page 4-->
        <div class="jumbotron jumbo-4">
            <div class="text-inside-4">
                <br>
                <div class="row">
                    <div class="col-4">
                        <h1>SYSTEM REQUIREMENTS</h1>
                    </div>
                    <div class="col-4 content-4-1">Can My Computer Run this game?</div>
                </div>

                <div class="row">
                    <div class="col-3 content-4-2">OS:</div>
                    <div class="col-3 content-4-2">PROCESSOR</div>
                </div>

                <div class="row">
                    <div class="col-3 content-4-3">Windows 7 64-bit only
                        (No OSX support at this time)
                    </div>
                    <div class="col-3 content-4-3">
                        Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3 content-4-2">MEMORY:</div>
                    <div class="col-3 content-4-2">Storage:</div>
                </div>

                <div class="row">
                    <div class="col-3 content-4-3">4 GB RAM</div>
                    <div class="col-3 content-4-3">8 GB available space</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3 content-4-2">GRAPHICS:</div>
                </div>

                <div class="row">
                    <div class="col-6 content-4-3">NVIDIA GeForce GTX 660 2GB or
                        AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                    </div>
                </div>
            </div>
        </div>
        <!--Page 4-->

        <!--Page 5-->
        <div class="jumbotron jumbo-5">
            <div class="text-inside-5">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <img class="content-5-3" src="assets/assets-CH3/evan-lahti.png" alt="">
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h1 class="content-5-1">TOP SCORES</h1>
                    </div>
                    <div class="col-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 content-5-2">This top score from various games provided on this platform</div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <img class="content-5-3" src="assets/assets-CH3/jada-griffin.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-warning btn-xl mx first-carousel" style="font-weight: 600;">see
                            more</button>
                    </div>
                    <div class="col-4">
                        <img class="content-5-3" src="assets/assets-CH3/aaron-williams.png" alt="">
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
        <!--Page 5-->

        <!--Page 6-->
        <div class="jumbotron jumbo-6">
            <div class="text-inside-6">

                <div class="row content-6-1">
                    <div class="col-6"></div>
                    <div class="col-4">
                        <h2 class="content-6-2">
                            Want to stay in touch?
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-lg-6">
                        <h1 class="content-6-3">
                            NEWSLETTER SUBSCRIBE
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <p>In order to start receiving our news, all you have to do is enter your email address.
                            Everything else will be taken care of by us. We will send you emails containing information
                            about game. We don’t spam.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-4">
                        <form class="form-inline">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="inputEmail">Email Address</label>
                                <div class="content-6-5">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email Address"
                                        value="youremail@binar.co.id">
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-2">
                        <button class="tn btn-warning btn-lg btn-block content-6-6" style="font-weight: 600;">Subscribe
                            Now</button>

                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="row links">
                <div class="col-1">MAIN</div>
                <div class="col-1">ABOUT</div>
                <div class="col-2">GAME FEATURES</div>
                <div class="col-2">SYSTEM REQUIREMENTS</div>
                <div class="col-1">QUOTES</div>
                <div class="col-1">
                    <img src="assets/assets-CH3/facebook.svg" alt="">
                </div>
                <div class="col-1">
                    <img src="assets/assets-CH3/twitter.svg" alt="">
                </div>
                <div class="col-1">
                    <img src="assets/assets-CH3/Vector.svg" alt="">
                </div>
                <div class="col-1">
                    <img src="assets/assets-CH3/twitch.svg" alt="">
                </div>

            </div>
            <footer class="footer footer-transparent footman">
                <div class="row inner">
                    <div class="col-6">
                        <p class="copyright"> © 2018 Your Games, Inc. All Rights Reserved</p>
                    </div>
                    <div class="col-6">
                        <p class="policy">Privacy Policy | Terms of Services | Code of Conduct </p>
                    </div>
                </div>
            </footer>
        </div>
        <!--Page 6-->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>

</html>