<%- include('../partial/header'); -%>
<%- include('../partial/navbar'); -%>
    
  <div class="container">
    <a href="/" class="btn btn-info btn-close"></a>
    <form action="/user_update" method="post">

      <div class="row mt-lg-4">
        <div class="col-4">
          <p>Enter your info and password to continue!</p>
          <input type="text" class="form-control" placeholder="Enter your username" name="username">
        </div>
        
        <div class="col-2"></div>
        <div class="col-4">
          <p>Enter your updated information here!</p>
          <input type="email" class="form-control" placeholder="Enter email" name="email">
        </div>
      </div>

      <div class="row mt-lg-4">
        <div class="col-4">
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>
        <div class="col-2"></div>
        
      </div>

      <div class="row mt-lg-4">
        <div class="col-4">
          <a href="/user_delete">
            Click here to delete your account
          </a>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
          <label for="comment">Biodata:</label>
          <textarea class="form-control" rows="5" id="comment" name="description"></textarea> <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </div>

    </form>
  </div>

  <%- include('../partial/footer'); -%>
